/* this is my stylesheet for the homepage */
/* table of contents */
/* main body style */
/* footer style */
/* header style */


h1, h6 {
  font-family: cursive;
}



header h1{
  color: red;
  background-color: yellow;
}
nav{}
footer{}







* {outline: 1px solid red;}


/* header style */

/* main body style */

/* footer style */
